
body{

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.centralizar {
    text-align: center;
}

.titulo03 {
    margin: 20px 20px 30px 20px;
}

.pJustificado {
    text-align: justify;
}